@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main-page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #14365D;
  color: #E5AA9E;
  flex-direction: column;
}

.main-page-title{
  font-family: 'Montserrat', sans-serif;
}

.create-contact-form label{
  color:#E5AA9E !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px !important;
}

.label-div{
  padding: 6px;
  font-size: 20px;
}

.input-div{
  padding: 6px;
}

.table-header{
  font-size: 20px;
  text-align: left;
}